@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
  color: #308413;
}

._icon-full-arrow:before {
  content: "\e901";
  color: #308413;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #010913;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #f5f5f5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo,
.h1,
.h2 {
  font-family: "Hlebozavod", sans-serif;
}

.h1 {
  color: #010913;
  font-size: 3.8125rem;
  font-weight: 500;
  line-height: 130%;
}

@supports (font-size: clamp( 2.625rem , 2.2951388889rem  +  1.6493055556vw , 3.8125rem )) {
  .h1 {
    font-size: clamp( 2.625rem , 2.2951388889rem  +  1.6493055556vw , 3.8125rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 2.2951388889rem  +  1.6493055556vw , 3.8125rem )) {
  .h1 {
    font-size: calc(2.625rem + 1.1875 * (100vw - 20rem) / 72);
  }
}

.h1_green {
  color: #308413;
}

.h2 {
  color: #010913;
  font-size: 3rem;
  font-weight: 500;
  line-height: 130%;
}

@supports (font-size: clamp( 2rem , 1.7222222222rem  +  1.3888888889vw , 3rem )) {
  .h2 {
    font-size: clamp( 2rem , 1.7222222222rem  +  1.3888888889vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7222222222rem  +  1.3888888889vw , 3rem )) {
  .h2 {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 72);
  }
}

.h3 {
  color: #010913;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 120%;
}

@supports (font-size: clamp( 1.5rem , 1.4305555556rem  +  0.3472222222vw , 1.75rem )) {
  .h3 {
    font-size: clamp( 1.5rem , 1.4305555556rem  +  0.3472222222vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.4305555556rem  +  0.3472222222vw , 1.75rem )) {
  .h3 {
    font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 72);
  }
}

.h4 {
  color: #010913;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 130%;
}

.description,
.spollers__info {
  color: #010913;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
}

@supports (font-size: clamp( 1rem , 0.9305555556rem  +  0.3472222222vw , 1.25rem )) {
  .description,
  .spollers__info {
    font-size: clamp( 1rem , 0.9305555556rem  +  0.3472222222vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9305555556rem  +  0.3472222222vw , 1.25rem )) {
  .description,
  .spollers__info {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 72);
  }
}

.description_white {
  color: #fff;
}

.description_gray {
  opacity: 0.5;
}

.link,
.menu__link {
  justify-self: flex-start;
  color: #010913;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 130%;
  position: relative;
  -webkit-transition: color 0.3s ease, -webkit-transform;
  transition: color 0.3s ease, -webkit-transform;
  transition: transform, color 0.3s ease;
  transition: transform, color 0.3s ease, -webkit-transform;
}

.link::after,
.menu__link::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background-color: #308413;
  position: absolute;
  bottom: -10px;
  left: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  visibility: hidden;
  -webkit-transition: visibility 0.5s, -webkit-transform 0.3s 0.1s;
  transition: visibility 0.5s, -webkit-transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s, visibility 0.5s;
  transition: transform 0.3s 0.1s, visibility 0.5s, -webkit-transform 0.3s 0.1s;
}

.link_green {
  color: #308413;
}

.logo {
  color: #308413;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 130%;
}

@supports (font-size: clamp( 2.25rem , 2.1805555556rem  +  0.3472222222vw , 2.5rem )) {
  .logo {
    font-size: clamp( 2.25rem , 2.1805555556rem  +  0.3472222222vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 2.1805555556rem  +  0.3472222222vw , 2.5rem )) {
  .logo {
    font-size: calc(2.25rem + 0.25 * (100vw - 20rem) / 72);
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.9375rem 1.5625rem 1.125rem 1.5625rem;
  background-color: #308413;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_secondary {
  outline: 2px solid #308413;
  background: rgba(48, 132, 19, 0.05);
  color: #308413;
}

.btn:hover {
  background-color: #4EA231;
  color: #fff;
}

.btn:active {
  background-color: #126600;
}

[class*=__description] {
  color: #010913;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
}

[class*=_600] {
  font-weight: 600;
}

[class*=_green] {
  color: #308413;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header.active {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__top {
  background-color: #fff;
  padding: 1.25rem 0rem;
}

.header__container,
.header__right,
.header__container > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  gap: 1.875rem;
}

.header__logo {
  margin-right: 1.25rem;
}

.header__link {
  padding: 2.375rem 0rem;
}

.header__link::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background-color: #308413;
  position: absolute;
  bottom: 20px !important;
  left: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  visibility: hidden;
  -webkit-transition: visibility 0.5s, -webkit-transform 0.3s 0.1s;
  transition: visibility 0.5s, -webkit-transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s, visibility 0.5s;
  transition: transform 0.3s 0.1s, visibility 0.5s, -webkit-transform 0.3s 0.1s;
}

.header__right {
  gap: 1.875rem;
}

.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.header__bottom {
  background: #f5f5f5;
  padding: 2.375rem 0;
  border-bottom: 1px solid #E7E8EA;
}

.header__menu {
  display: none;
}

.menuBottomHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.1803797468rem  +  3.7974683544vw , 2rem )) or (column-gap: clamp( 1.25rem , -1.1803797468rem  +  3.7974683544vw , 2rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , -1.1803797468rem  +  3.7974683544vw , 2rem );
       -moz-column-gap: clamp( 1.25rem , -1.1803797468rem  +  3.7974683544vw , 2rem );
            column-gap: clamp( 1.25rem , -1.1803797468rem  +  3.7974683544vw , 2rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.1803797468rem  +  3.7974683544vw , 2rem )) or (column-gap: clamp( 1.25rem , -1.1803797468rem  +  3.7974683544vw , 2rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 0.75 * (100vw - 64rem) / 19.75);
       -moz-column-gap: calc(1.25rem + 0.75 * (100vw - 64rem) / 19.75);
            column-gap: calc(1.25rem + 0.75 * (100vw - 64rem) / 19.75);
  }
}

.menu__bottom {
  font-size: 1.25rem !important;
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.menu__bottom > * {
  justify-self: flex-start;
  font-size: inherit;
}

.menu__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.menu__time > * {
  font-size: 1.25rem;
}

.menu__link {
  padding: 1.25rem 0;
  font-size: 1.25rem;
}

.menu__link::after {
  bottom: 10px;
}

.icon-menu {
  display: none;
}

.footer {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer__image-ibg {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  min-height: 51.25rem;
}

.footer__container {
  text-align: center;
}

.page__head {
  margin-top: 12.5rem;
}

.head {
  padding: 1.875rem 0 8.125rem 0;
}

.head__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 2.1875rem;
}

.head__btn {
  min-width: 16.6875rem;
  margin-bottom: 0.9375rem;
}

.head__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 1.25rem;
}

.head__image-ibg:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1/1/2/7;
}

.head__image-ibg:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 1/7/2/10;
}

.head__image-ibg:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 1/10/2/13;
}

.head__image-ibg {
  padding-bottom: 82%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.head__image-ibg:hover {
  -webkit-transform: scale(1.015);
      -ms-transform: scale(1.015);
          transform: scale(1.015);
}

.info {
  padding-bottom: 9.375rem;
}

.info__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 1.25rem;
}

.info__left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1/1/2/7;
}

.info__right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 1/10/2/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5.75rem 0 1.875rem;
}

.info__h2 {
  padding-bottom: 1.875rem;
}

.info__description {
  padding-bottom: 2.5rem;
}

.info__facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.infoBlock,
.cardManagement {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  padding: 1.5625rem 2.1875rem 1.875rem 2.1875rem;
  background-color: #fff;
  outline: 2px solid #fff;
  -webkit-transition: outline-color 0.3s ease;
  transition: outline-color 0.3s ease;
}

.infoBlock:hover,
.cardManagement:hover {
  outline-color: #308413;
}

.infoBlock_onlyTxt,
.cardManagement_onlyTxt {
  background-color: transparent;
  padding: 0;
  outline: none;
}

.infoBlock__h4,
.cardManagement__h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__container {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  padding-bottom: 8.125rem;
}

.news__h2 {
  padding-bottom: 0.625rem;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.news__row_2 .newsBlock__image-ibg {
  padding-bottom: 70%;
}

.newsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.newsBlock:hover {
  border-color: #308413;
}

.newsBlock:hover .infoBlock {
  outline-color: #308413;
}

.newsBlock__image-ibg {
  padding-bottom: 144%;
}

.management {
  padding-bottom: 8.125rem;
}

.management__h2 {
  padding-bottom: 1.875rem;
}

.management__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.management__image-ibg {
  min-height: 100%;
}

.management__left {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.cardManagement {
  overflow: hidden;
  outline: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: max-height 0.2s ease, outline-color 0.3s ease;
  transition: max-height 0.2s ease, outline-color 0.3s ease;
}

.cardManagement.selected {
  outline: 2px solid #308413;
  height: 100%;
}

.cardManagement__head {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}

.cardManagement__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  padding-top: 1.25rem;
  margin-top: 0.625rem;
  border-top: 1px solid #fff;
  -webkit-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

.cardManagement.selected .cardManagement__body {
  border-color: #E7E8EA;
}

.cardManagement__info {
  display: -ms-grid;
  display: grid;
  gap: 0.3125rem;
}

.cardManagement__info > * {
  justify-self: flex-start;
}

.cardManagement__info > *::after {
  bottom: -5px;
}

.pluses {
  padding-bottom: 8.125rem;
}

.pluses__inner {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.pluses__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.pluses__row_grid {
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.pluses__h2 {
  padding-bottom: 2.5rem;
}

.pluses__icon {
  padding-top: 5px;
}

.pluses__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1.5625rem 2.1875rem 1.875rem;
  border: 2px solid #fff;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.pluses__link:hover {
  border-color: #308413;
}

.pluses__link:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
}

.pluses__link:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-area: 1/4/2/9;
}

.pluses__link:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 1/9/2/13;
}

.pluse {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 0rem 2.1875rem 1.875rem;
  background-color: #fff;
  border: 2px solid #fff;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.pluse:hover {
  border-color: #308413;
}

.pluse__image-ibg {
  margin: 0rem -2.1875rem 0rem;
  padding-bottom: 110%;
}

.pluse__head {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.9375rem;
}

.military {
  padding-bottom: 9.375rem;
}

.military__container_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.military__h2 {
  padding-bottom: 1.875rem;
}

.military__txt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.military__description:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-area: 1/4/2/9;
}

.military__description:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 1/10/2/13;
}

.military__map {
  position: relative;
}

.military__map-img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: -15.625rem auto 0;
  width: 100%;
  max-width: 120rem;
  padding: 0 1.875rem 0;
  z-index: -1;
}

.military__number {
  position: absolute;
  top: 50%;
  left: 44.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 30px 23px 30px;
  border: 2px solid #308413;
  background: #fff;
}

.military__number::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid #308413;
}

.military__number::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #308413;
}

.military__h3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 1/4/2/13;
  padding-top: 20px;
  padding-bottom: 1.25rem;
  line-height: 140%;
}

.military__info {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  background-color: #fff;
  padding: 30px 35px 35px 35px;
  border: 2px solid #fff;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.military__info:hover {
  border-color: #308413;
}

.military__info::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -15px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid #308413;
}

.military__info::after {
  content: "";
  position: absolute;
  top: 45px;
  left: -5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #308413;
}

.military__info:nth-child(1) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 2/4/3/13;
}

.military__info:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 3/1/4/10;
}

.questions {
  padding-bottom: 9.375rem;
}

.questions__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.questions__h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 1/4/2/13;
}

.spollers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spollers__item {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  overflow: hidden;
  padding: 25px 35px 30px 35px;
  background-color: #fff;
  outline: 2px solid #fff;
  height: 100%;
  -webkit-transition: max-height 0.3s ease, outline-color 0.3s ease;
  transition: max-height 0.3s ease, outline-color 0.3s ease;
  cursor: pointer;
}

.spollers__item:hover {
  outline-color: #4EA231;
}

.spollers__item:not(.selected) .spollers__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spollers__item.selected {
  outline: 2px solid #308413;
}

.spollers__icon {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.spollers__body {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.spollers__info {
  position: relative;
  padding-left: 1.875rem;
}

.spollers__info::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #308413;
  position: absolute;
  top: 12px;
  left: 0;
}

.page__news {
  margin-top: 14.375rem;
}

.allNews {
  padding-bottom: 9.375rem;
}

.allNews__h2 {
  padding-bottom: 35px;
}

.allNews__h4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.allNews__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.allNews__info > p:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.allNews__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.allNews__inner_2 .newsBlock__image-ibg {
  padding-bottom: 70%;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  padding: 18.75rem 0 12.5rem;
}

.auth {
  margin: auto;
  max-width: 27.75rem;
  background-color: #fff;
  padding: 2.1875rem;
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.auth__rows {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.input {
  background-color: #fff;
  border: 1px solid #E7E8EA;
  padding: 1.375rem 2.1875rem 1.625rem;
}

@media (max-width: 85.0625rem) {
  .page__head {
    margin-top: 15.625rem;
  }

  .page__news {
    margin-top: 18.75rem;
  }
}

@media (max-width: 80rem) {
  .pluses__row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .pluses__row_grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .pluses__link:nth-child(1) {
    grid-area: auto;
  }

  .pluses__link:nth-child(2) {
    grid-area: auto;
  }

  .pluses__link:nth-child(3) {
    grid-area: auto;
  }
}

@media (max-width: 73.75rem) {
  .header__left > *:not(:first-child) {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;
    background-color: #fff;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 1;
    overflow: auto;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    border-top: 1px solid #308413;
    border-bottom: 1px solid #308413;
    padding: 2.5rem 0;
    margin: 2.5rem 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 1.5625rem;
    font-size: 1.75rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page__head {
    margin-top: 6.25rem;
  }

  .page__news {
    margin-top: 7.8125rem;
  }
}

@media (max-width: 61.99875em) {
  .header__right > *:not(:first-child) {
    display: none;
  }

  .header__menu {
    display: -ms-grid;
    display: grid;
  }

  .head__top {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .info__container {
    -ms-grid-rows: (0fr)[2];
    grid-template-rows: repeat(2, 0fr);
    gap: 2.5rem;
  }

  .info__left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 1/1/2/13;
  }

  .info__right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 2/1/3/13;
    gap: 1.875rem;
    padding: 0;
  }

  .info__facts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .news__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .news__row_2 {
    display: none;
  }

  .newsBlock__image-ibg {
    padding-bottom: 50%;
  }

  .management__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .management__image-ibg {
    min-height: 26.25rem;
  }

  .military__container_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .military__txt {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .military__description:nth-child(1) {
    grid-area: auto;
  }

  .military__description:nth-child(2) {
    grid-area: auto;
  }

  .military__map-img {
    margin: 0 auto;
  }

  .military__number {
    left: 50%;
  }

  .military__h3 {
    grid-area: auto;
  }

  .military__info:nth-child(1) {
    grid-area: auto;
  }

  .military__info:nth-child(2) {
    grid-area: auto;
  }

  .questions__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__facts {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .allNews__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 41.25rem) {
  .pluses__row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .header__right {
    display: none;
  }

  .head__image-ibg:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 1/1/2/13;
    margin: 0 -32px;
  }

  .head__image-ibg:nth-child(2) {
    display: none;
  }

  .head__image-ibg:nth-child(3) {
    display: none;
  }

  .news__row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .cardManagement__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .link:hover,
  .menu__link:hover {
    color: #308413;
  }

  .link:hover::after,
  .menu__link:hover::after {
    visibility: visible;
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
}